* {
  padding: 0px;
  margin: 0px;
  border: solid transparent 2px;
}

nav {
  background-color: #222831;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
}

.nav-items {
  display: flex;
  float:  row;
  justify-content: space-between;
}

.title {
  margin-left: 40px;
  padding-top: 10px;
  font-size: 30px;
  color: azure;
}

.title > a {
  color:  azure;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
}

.signup > a {
  text-decoration: none;
  color: #222831;
}

.login > a {
  text-decoration: none;
  color: #222831;
}

.signup {
  font-weight: 400px;
  text-align: center;
  background-color: #e5dfdf;
  font-size: 20px;
  color: #222831;
  border: solid 2px;
  margin-right: 80px;
  padding: 10px;
}

.signup:hover {
  color: azure; 
  background-color: #5edfff;
  border-color: #222831;
}

.login {
  font-weight: 400px;
  text-align: center;
  background-color: #e5dfdf;
  font-size: 20px;
  color: #222831;
  border: solid 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.login:hover {
  color: azure; 
  background-color: #5edfff;
  border-color: #222831;
}

.logout > a {
  text-decoration: none;
  color: #222831;
}

.profile > a {
  text-decoration: none;
  color: #222831;
}

.logout {
  font-weight: 400px;
  text-align: center;
  background-color: #e5dfdf;
  font-size: 20px;
  color: #222831;
  border: solid 2px;
  margin-right: 80px;
  padding: 10px;
}

.logout:hover {
  color: azure; 
  background-color: #5edfff;
  border-color: #222831;
}

.profile {
  font-weight: 400px;
  text-align: center;
  background-color: #e5dfdf;
  font-size: 20px;
  color: #222831;
  border: solid 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile:hover {
  color: azure; 
  background-color: #5edfff;
  border-color: #222831;
}

.addBook > a {
  text-decoration: none;
  color: azure;
}

.addBook {
  font-weight: 400px;
  text-align: center;
  background-color: #222831;;
  font-size: 30px;
  color: azure;
  padding: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 120px;
  margin-left: 66.5% ;
}

.addBook:hover {
  color: #222831; 
  background-color: #5edfff;
  border-color: #222831;
}

p {
  margin-top: 315px;
  margin-left: 35px;
  text-align: center;
  font-family: 'Calistoga', cursive;
  font-size: 50px;
  color: #222831;
}

.readerbook {
  width: 1000px;
  height: 1000px;
}

.about {
  display: flex;
  flex-direction: row;
  font-style: italic;
}

.list-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-books-buy-sell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.book-cover {
  width: 200px;
  height: 250px;
  margin: 5px;
}

.book-cover:hover {
  width: 200px;
  height: 250px;
  opacity: 0.5;
}

#developers {
  background-color: #29a19c;
}

.developers {
  text-align: center;
  font-size: 60px;
  font-style: italic;
  color: #222831;
  margin-top: 40px;
}

.makers {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cris {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.jef {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.github {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 20px;
}

.github > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
}

.github > span > a {
  text-decoration: none;
  color: #222831;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #393e46;
  list-style: none;
}

.information {
  display: flex;
  flex-direction: column;
  color: azure;
  line-height: 35px;
}

.contact {
  margin-top: 80px;
  text-align: center;
}

.address {
 font-size: 20px;
 font-style: normal;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: azure;
}

iframe {
  height: 340px;
  width: 800px;
}

.follow {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.follow > ul > li {
  list-style: none;
}

.follow > ul > li > a {
  
  font-size: 20px;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.map {
  margin-top: 80px;
  margin-bottom: 35px;
}

.information {
  display: flex;
  flex-direction: column;
  color: azure;
  line-height: 35px;
}

#form {
    margin: 30px auto;
    width: 380px;
    color: azure;
    background-color: #1d4d4f;
    border-radius: 10px;
    margin-top: 150px;
  }
  #form input,
  #form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #form > h2{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    text-align: center;
    margin-bottom: 25px;
  }

  #form > h3 {
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }

  #form > h3 > a {
    text-decoration: none;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #form button {
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
    width: 100%;
  }
  
  #form button:hover {
    background: #fff;
    color: #43a3e6;
    transition: .3s ease background;
  }
  .error-message {
    background: #F02B63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }
