<nav>
  <div class="nav-items">
    <div>
      <h1 class="title">IRONBOOKS</h1>
    </div>
    <div class="buttons">
      <div class="userLogged">{{ user.userName }}</div>
      <button type="button" class="logout"><a href="./home">Logout</a></button>
      <button type="button" class="profile"><a href="./profile">Profile</a></button>
    </div>
  </div>
</nav>

<p class="parTitle">{{ newBook.title }} </p>
<p class="parTitle">{{ newBook.gender }} </p>

