<form action="/buy_books" method="POST" id="buy-form">
    <input type="text" name="name" placeholder="John Doe">
    <input type="text" name="card-number" placeholder="4103************2150">
    <input type="text" name="expires-date" placeholder="0127">
    <input type="text" name="cvv" placeholder="CVV">
        <textarea name="description" rows="10" cols="40"></textarea>

    <input type="submit" value="Buy">
    {{#if errorMessage }}
      <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
</form>