<nav>
  <div class="nav-items">
    <div>
      <h1 class="title"><a href="/home">IRONBOOKS</a></h1>
    </div>
    <div class="buttons">
      <div class="userLogged">{{ user.userName }}</div>
      <button type="button" class="signup"><a href="./signup">Sign up</a></button>
      <button type="button" class="login"><a href="./login">Login</a></button>
    </div>
  </div>
</nav>
<p class="parMessage">
    {{ editedMessage }}
</p>

<div>
  <a class="goBack" href="javascript:history.back()">Go Back</a>
</div>

