<form action="/editbooks" method="POST" id="edit-form">
    <input type="text" name="title" value="">
    <input type="text" name="gender" value="">
    <input type="text" name="price" value="">
    <input type="text" name="author" value="">
    <input type="text" name="company" value="">
    <textarea name="description" rows="10" cols="40"></textarea>
    <input type="submit" value="Post">
    {{#if errorMessage }}
      <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
</form>