<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironbooks</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <nav>
    <ul class="home">
      <span class="title"><strong>IRONBOOKS</strong></span>
      <li><button type="button">Sign up</button></li>
      <li><button type="button">Login</button></li>
    </ul>
  </nav>
  <body>
    <section>
      <img class="readerbook" src="/images/office.jpg" alt="readerbook">
      <div>
        <p>IRONBOOKS</p>
        <p>We Believe books change lives, improve your life with Ironbooks</p>
      </div>
    </section>
    <section>
      <ul>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
      </ul>
    </section>
    <footer>
      <div class="About">
        <span>Contact Information</span>
        <ul>
          <li>Street</li>
          <li>City</li>
          <li>Country</li>
          <li>Phone</li>
        </ul>
        <span>Follow Us</span>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Instagram</li>
        </ul>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21955.962853684083!2d-46.66231942658338!3d-23.56017548991528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x694f27fed85d9b0c!2sIronhack%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1574213229841!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
      </iframe>
    </footer>
  </body>
</html>