    <div class="about">
      <div>
        <p>In IRONBOOKS</br>
        We Believe books change lives, improve your life with Ironbooks</p>
      </div>
      <img class="readerbook" src="/images/empty_state.jpg" alt="readerbook">
    </div>
    <section>
      <ul>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
        <li>Somebookhere</li>
      </ul>
    </section>
    <section>
      <div class="developes"><p>Some information here</p></div>
    </section>
