<nav>
  <div class="nav-items">
    <div>
      <h1 class="title">IRONBOOKS</h1>
    </div>
    <div class="buttons">
      <div class="userLogged">Welcome vendor  {{ user.userName }}</div>
      <button type="button" class="logout"><a href="./home">Logout</a></button>
      <button type="button" class="profile"><a href="./profile">Profile</a></button>
    </div>
  </div>
</nav>
<div>
  <button type="button" class="addBook"><a href="./addBooks">+ Books</a></button>
  <button type="button" class="addBook"><a href="./addBooks">+ Books All</a></button>
</div>
<div class='list-books-buy-sell'>
  {{#each books}}
  <a href="/editBooks"><img class="book-cover" src="{{this.cover}}"></img></a>
  {{/each}}
</div>