<nav>
  <div class="nav-items">
    <div>
      <h1 class="title">IRONBOOKS listbooksBuy </h1>
    </div>
    <div class="buttons">
      <div class="userLogged">{{ user.userName }}</div>
      <button type="button" class="logout"><a href="./home">Logout</a></button>
      <button type="button" class="profile"><a href="./profile">Profile</a></button>
    </div>
  </div>
</nav>
<div class='list-books-buy-sell'>
  {{#each books}}
  <a href="/socialBooks"><img class="book-cover" src="{{this.cover}}"></img></a>
  {{/each}}
</div>