
<div>
  <button type="button" class="addBook"><a href="./addBooks">+ Books</a></button>
</div>
<div class='list-books-buy-sell'>
  {{#each books}}
  <a href="/editBooks/{{ this._id }}"><img class="book-cover" src="{{ this.cover }}"></img></a>
  {{/each}}
</div>
