<nav>
    <div class="nav-items">
        <div>
            <h1 class="title"><a href="/home">IRONHACK</a></h1>
        </div>
    </div>
</nav>

<p class="parTitle">Almost there …</p>
<p class="par">Please check your email ({{ email }}) to confirm your account.</p>
<p class="par">If ({{ email }}) is not your email address, please go back and enter the correct one.</p>
<p class="par">If you haven't received our email in 15 minutes, please check your spam folder.</p>