<nav>
  <div class="nav-items">
    <div>
      <h1 class="title"><a href="/home">IRONBOOKS</a></h1>
    </div>
    <div class="buttons">
      <button type="button" class="signup"><a href="./signup">Sign up</a></button>
      <button type="button" class="login"><a href="./home">Home</a></button>
    </div>
  </div>
</nav>
<form action="/login" method="POST" id="form">
  <h2>Login</h2>
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="********">
  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <div>
    <button>Login</button>
  </div>
  <h3 class="account-message">
    Don't have an account? <a href="/signup">Sign up
    </a>
  </h3>

  
</form>